@tailwind base;
@tailwind components;
@tailwind utilities;


input,
textarea,
select {
    @apply border border-gray-900  rounded-md  py-3;
}
input:focus,
textarea:focus,
section:focus{
    @apply border-gray-900;
}
h1{
    @apply text-purple-500 mb-4 text-xl;
}

label{
    @apply text-gray-600 text-sm;
}
table.basic{
    @apply w-full bg-white rounded-sm shadow-md;
}