.smallNav {
    display: none;
}
@media (max-width: 576px){
    .smallNav{
        display: block;
    }
}

.mobile-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50px; /* Adjust based on your layout */
    left: -100%; /* Initially hidden off the screen */
    background-color: white; /* Change as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    /* Add transition to animate the transform */
    transition: transform 0.5s ease;
}
.mobile-menu.open {
    transform: translateX(100%); /* Slide in from left to right */
}

.mobile-menu ul {
    list-style-type: none;
    padding: 3rem;
    margin: 0;
}


.mobile-menu li {
    padding: 10px;
}

.mobile-menu a {
    text-decoration: none;
    color: white; 
  
}



